<footer class="site-footer">
    <div class="container">
        <img src="../assets/logo.svg" alt="" width="60">
        <p><strong>Le glossaire des e-mails marketing</strong> est votre guide de tous les acronymes et termes du monde des e-mails. Le projet a été créé par Jason Rodriguez, The Better E-mail, puis traduit et localisé en français par <a href="https://medianes.org">Médianes</a>.</p>
        <small>
            &copy; Jason Rodriguez. Sous <a href="https://github.com/rodriguezcommaj/email-marketing-glossary/blob/main/LICENSE">licence MIT</a>.
        </small>
    </div>
</footer>